@import '../global//mixin.scss';

.header {
  padding: 1rem;
  height: 100%;
  user-select: none;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.username__input {
  font-size: 2rem;
  margin: 0;
  width: 13.5rem;
  border-radius: 0.7rem;
  padding-left: 1rem;
  line-height: 125%;
  background-color: $main-blue;
  color: $main-white;

  &:focus {
    border: 2px solid $main-white;
  }
}

.modes {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    z-index: 5;

    @media (max-width: 876px) {
      position: absolute;
      top: 1rem;
      right: 1rem;
      transform: translateY(-20rem);
      transition: transform 0.3s;
      width: 10rem;
      min-height: 15rem;
      flex-direction: column;
      background-color: $main-blue;
      border-radius: 1rem;
      @include shadow;

      &_active {
        transition: transform 0.3s;
        transform: translateY(0);
      }
    }
  }

  &__item {
    display: block;
    width: 100%;
    font-weight: 600;
    line-height: 2.5rem;
    text-align: center;
    padding: 0 0.75rem;

    &:hover {
      cursor: pointer;
      color: $active-link;
      transition: color 0.5s;
    }
  }
}

.burger__button {
  display: none;
  position: relative;
  width: 2.8125rem;
  height: 1.25rem;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.3s;

  & span {
    width: 2.8125rem;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $main-white;
    transition: all 0.3s;

    &:nth-of-type(2) {
      top: calc(50% - 0.6rem);
    }

    &:nth-of-type(3) {
      top: calc(50% + 0.6rem);
    }
  }

  &:hover span {
    background-color: $active-link;
    transition: background-color 0.3s;
  }

  &:active span {
    background-color: $main-white;
    transition: background-color 0.1s;
  }

  @media (max-width: 876px) {
    display: block;
  }
}

.active {
  border-bottom: 2px solid$active-link;
  border-radius: 0 0 1rem 1rem;
  color: $active-link;
  transition: color 0.5s;
}